{{- /* Article JSON-LD for blog post single pages */ -}}
{{- if and (eq .Kind "page") (eq .Section "posts") -}}
{{- $image := "" -}}
{{- with .Params.cover -}}
  {{- $coverImg := . -}}
  {{- if reflect.IsMap $coverImg -}}
    {{- $coverImg = $coverImg.image -}}
  {{- end -}}
  {{- if $coverImg -}}
    {{- $image = $coverImg | absURL -}}
  {{- end -}}
{{- end -}}
{{- if eq $image "" -}}
  {{- with site.Params.images -}}
    {{- if gt (len .) 0 -}}
      {{- $image = index . 0 | absURL -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $dateModified := .Date.Format "2006-01-02" -}}
{{- if .Lastmod -}}
  {{- $dateModified = .Lastmod.Format "2006-01-02" -}}
{{- end -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{- .Title | plainify | safeJS -}}",
  "description": "{{- with .Description | plainify }}{{- . | safeJS -}}{{- else }}{{- .Summary | plainify | safeJS -}}{{- end -}}",
  {{- if $image }}
  "image": "{{- $image | safeJS -}}",
  {{- end }}
  "author": {
    "@type": "Person",
    "name": "Joran"
  },
  "publisher": {
    "@type": "Organization",
    "name": "ChinaBound Travel",
    "logo": {
      "@type": "ImageObject",
      "url": "https://chinaboundtravel.com/images/favicon/favicon.svg",
      "width": 60,
      "height": 60
    }
  },
  "datePublished": "{{- .Date.Format "2006-01-02T15:04:05Z" | safeJS -}}",
  "dateModified": "{{- $dateModified | safeJS -}}",
  "mainEntityOfPage": "{{- .Permalink | safeJS -}}",
  "inLanguage": "{{- .Language.Lang | default "en-us" | safeJS -}}",
  "wordCount": {{ .WordCount }},
  "keywords": [
    {{- if .Params.keywords }}
    {{- range $i, $e := .Params.keywords }}{{- if $i }}, {{ end }}"{{- $e | safeJS -}}"{{- end }}
    {{- else }}
    {{- range $i, $e := .Params.tags }}{{- if $i }}, {{ end }}"{{- $e | safeJS -}}"{{- end }}
    {{- end }}
  ]
}
</script>
{{- end -}}
