{{- /* Open Graph / Facebook */ -}}
{{- $ogImage := "" }}
{{- with .Params.cover }}
  {{- $coverImg := . }}
  {{- if reflect.IsMap $coverImg }}
    {{- $coverImg = $coverImg.image }}
  {{- end }}
  {{- if $coverImg }}
    {{- $ogImage = $coverImg }}
  {{- end }}
{{- end }}
{{- if not $ogImage }}
  {{- $ogImage = "/images/og-default.jpg" }}
{{- end }}
{{- /* P1-GROWTH-28A: 首页/分类页 -> website；文章页 -> article */ -}}
{{- $ogType := "website" }}
{{- if and .IsPage (not .IsHome) }}{{ $ogType = "article" }}{{ end }}
<meta property="og:type" content="{{ $ogType }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
{{- $ogDesc := .Description }}
{{- if not $ogDesc }}
  {{- if .Summary }}{{ $ogDesc = .Summary }}{{ end }}
{{- end }}
{{- if not $ogDesc }}{{ $ogDesc = site.Params.description }}{{ end }}
<meta property="og:description" content="{{ $ogDesc | plainify | truncate 160 }}">
<meta property="og:image" content="{{ $ogImage | absURL }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:site_name" content="{{ site.Title }}">
{{- with site.Params.SocialParams }}
  {{- with .facebook }}
<meta property="article:publisher" content="https://www.facebook.com/{{ . }}">
  {{- end }}
{{- end }}
{{- if eq $ogType "article" }}
<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">
  {{- with .Lastmod }}
<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05-07:00" }}">
  {{- end }}
{{- end }}
