{{- /* Open Graph / Facebook */ -}}
{{- $ogImage := "" }}
{{- with .Params.cover }}
  {{- $coverImg := . }}
  {{- if reflect.IsMap $coverImg }}
    {{- $coverImg = $coverImg.image }}
  {{- end }}
  {{- if $coverImg }}
    {{- $ogImage = $coverImg }}
  {{- end }}
{{- end }}
{{- if not $ogImage }}
  {{- $ogImage = "/images/og-default.jpg" }}
{{- end }}
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
{{- if .Description }}
<meta property="og:description" content="{{ .Description }}">
{{- else if .IsPage }}
<meta property="og:description" content="{{ .Summary | plainify | truncate 160 }}">
{{- end }}
<meta property="og:image" content="{{ $ogImage | absURL }}">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="720">
{{- if not .IsHome }}
<meta property="og:site_name" content="{{ site.Title }}">
{{- end }}
{{- with site.Params.SocialParams }}
  {{- with .facebook }}
<meta property="article:publisher" content="https://www.facebook.com/{{ . }}">
  {{- end }}
{{- end }}
{{- if .IsPage }}
<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">
  {{- with .Lastmod }}
<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05-07:00" }}">
  {{- end }}
{{- end }}