{{- /* Twitter Card */ -}}
{{- /* P1-GROWTH-28A: 全站标准 Twitter Card（1200×630 预览图） */ -}}
{{- $twImage := "" }}
{{- with .Params.cover }}
  {{- $coverImg := . }}
  {{- if reflect.IsMap $coverImg }}
    {{- $coverImg = $coverImg.image }}
  {{- end }}
  {{- if $coverImg }}
    {{- $twImage = $coverImg }}
  {{- end }}
{{- end }}
{{- if not $twImage }}
  {{- $twImage = "/images/twitter-default.jpg" }}
{{- end }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">
{{- $twDesc := .Description }}
{{- if not $twDesc }}
  {{- if .Summary }}{{ $twDesc = .Summary }}{{ end }}
{{- end }}
{{- if not $twDesc }}{{ $twDesc = site.Params.description }}{{ end }}
<meta name="twitter:description" content="{{ $twDesc | plainify | truncate 160 }}">
<meta name="twitter:image" content="{{ $twImage | absURL }}">
{{- with site.Params.SocialParams }}
  {{- with .twitter }}
<meta name="twitter:site" content="@{{ . }}">
  {{- end }}
{{- end }}
