{{- /* Twitter Card */ -}}
{{- $twImage := "" }}
{{- with .Params.cover }}
  {{- $coverImg := . }}
  {{- if reflect.IsMap $coverImg }}
    {{- $coverImg = $coverImg.image }}
  {{- end }}
  {{- if $coverImg }}
    {{- $twImage = $coverImg }}
  {{- end }}
{{- end }}
{{- if not $twImage }}
  {{- $twImage = "/images/twitter-default.jpg" }}
{{- end }}
<meta name="twitter:card" content="{{ if .Params.cover }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">
{{- if .Description }}
<meta name="twitter:description" content="{{ .Description }}">
{{- else if .IsPage }}
<meta name="twitter:description" content="{{ .Summary | plainify | truncate 160 }}">
{{- end }}
<meta name="twitter:image" content="{{ $twImage | absURL }}">
{{- with site.Params.SocialParams }}
  {{- with .twitter }}
<meta name="twitter:site" content="@{{ . }}">
  {{- end }}
{{- end }}