{{- define "main" }}
<div class="not-found-container">
    <div class="not-found">404</div>
    <p class="not-found-message">Oops! The page you're looking for doesn't exist.</p>
    <p class="not-found-hint">Here are some popular pages you might be interested in:</p>
    <ul class="not-found-links">
        <li><a href="/posts/how-to-use-alipay-as-a-foreigner-complete-setup-guide-2026-guide/">How to Use Alipay as a Foreigner</a></li>
        <li><a href="/posts/guilin-and-yangshuo-the-ultimate-karst-landscape-guide-for-2026-guide/">Guilin & Yangshuo Guide</a></li>
        <li><a href="/posts/144-hour-visa-free-transit-guide/">144-hour Visa-free Transit Guide</a></li>
        <li><a href="/cities/">City Travel Guides</a></li>
        <li><a href="/tags/">Browse by Tags</a></li>
    </ul>
</div>
{{- end }}{{/* end main */ -}}